h1 {
    text-align: center;
    color: black
  }

#last {
    color: #fff;
    background-color: lightcoral;
    
}

#img {
    border-radius: 50%;
    width: 52%;
    height: 39%;
}

hr {
    width: 100%;
}

tr, td, table {
    text-align: center;
    border: 12px;
    padding: 3px;
    margin: 20px 0px;
}

#bold {
    font-weight: bold;
    text-align: left;  
}

#bold2 {
    text-align: left;
}

body {
    background-color: #f9f9f9;
    color: #1d495f;
}

#qua{
    width: 100%;

}

#sign{
    width: 40%;
    height: 40%
}

#sign1{
    border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
 width: 2%;
    height: 6%
    display: block;
  margin-left: auto;
  margin-right: auto;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

